/* add outline to clockBody id */
.clockBody {
    border: double;
}



.clock {
    border: double;
}


.currentTimeContainer {
    border:double;
    display:flex;
    flex-wrap: wrap;
    direction:ltr;
    width:100%;
}

.currentTimeHeader {
    display:flex;
}

.currentHoursMinsSecsContainer {
    display:flex;
}

.currentHours {
    border:double;
    width:25%;
}

.currentMins {
    border:double;
    width:25%;
}

.currentSecs {
    border:double;
    width: 25%;
}

.clockAmOrPm {
    border:double;
    width:24%;
}

.alarm {
    border: double;
    width: 100%;
}

div > h3 {
    text-align: center;
}

.alarmContainer {
    border: double;
    display:flex;
}

.instructions {
    border:double;
    width:33%;
}

.alarmTime {
    border:double;
    width:33%;
}

.clockAm {
    border:double;
    width:100%;
}

.clockPm {
    border:double;
    width:100%;
}